|   </div> <!-- /#framework -->
| </div> <!-- /#wrapper -->
| <footer class="footer">
|   <div class="container">
|     &copy; Hugs for Pugs
|   </div>
| </footer>
| <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
|  <script src="./js/main.min.js"></script>
</body>